@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  background-color: #544d4d;
  color: White;
}
a.text:active {
  color: orange;
} /* активная/посещенная ссылка */
a.text:hover {
  color: orange;
} /* при наведении */
a.text {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.avatar {
  border-radius: 100px;
  text-align: center;
}
.bio {
  text-size: 56px;
}
.bigtext1 {
  font-size: 20px;
}
.test {
  font-size: 20px;
}
.typ {
  font-family: "Open Sans", sans-serif;
  color: White;
  font-size: 22pt;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  text-size: 50rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}
.container p span.cursor.typing {
  -webkit-animation: none;
          animation: none;
}
@-webkit-keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}